:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-black-color: #2e2f42;
  --secondary-black-color: #434455;
  --basic-white-color: #fff;
  --secondary-white-color: #f4f4fd;
  --basic-color-logo: #4d5ae5;
  --hover-color: #404bbf;
}

/* body */

/* header */
body {
  font-family: var(--primary-font);
  color: var(--secondary-black-color);
  background: var(--basic-white-color);
}
.logo-link {
  color: var(--basic-color-logo);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-link-studio {
  color: var(--primary-black-color);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.nav-list {
  color: var(--primary-black-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-list.list.link{
  color:var(--primary-black-color);
}
.nav-list.list.link:hover,
.nav-list.list.link:focus{
  color: var(#404bbf);
}